@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 3rem;
  width: 100%;
  height: 100vh;
  font-family: 'Libre Franklin', sans-serif;
}

main {padding: 1rem 0;}

/* HEADER STYLE STARTS */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

header img {
  width: 5rem;
}

/* HEADER STYLE ENDS */

/* SECTION STYLE STARTS */

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section div img {
  width: 100%;
}

section h1 {
  color: var(--Gray);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

section h1 span {
  color: black;
  font-weight: 700;
}

section p {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.9;
}

section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.5rem;
}

section form > * {
  width: 100%;
  padding: 0.8rem 0;
  margin: 0.5rem 0;
  border-radius: 30px;
  outline: 0;
  border: 0;
  font-size: 1rem;
}

section form > *:nth-child(1) {
  outline: 1px solid var(--Pale-Blue);
  padding: 1rem 2rem;
}

::placeholder {
  color: var(--Pale-Blue);
}

section form button {
  background-color: var(--Blue);
  color: white;
  text-transform: capitalize;
  box-shadow: 0px 0px 10px 0px var(--Pale-Blue);
}

section form button:hover {
  opacity: 0.8;
}

/* SECTION STYLE ENDS */

/* FOOTER STYLE STARTS */

footer {
  width: 100%;
  margin: 7rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

footer div i {
  font-size: 1.2rem;
  color: var(--Blue);
  outline: 1px solid var(--Pale-Blue);
  padding: 0.5rem;
  border-radius: 50%;
  font-weight: 600;
}

footer div i:nth-child(2) {
  margin: 0 1rem;
}

footer div i:hover {
  background-color: var(--Blue);
  color: white;
}

footer p {
  color: var(--Gray);
  font-size: 0.7rem;
  text-transform: capitalize;
}

/* FOOTER STYLE ENDS */

/* XX large screen */
@media (min-width: 1400px) {

  body {
    padding: 1rem 10rem;
  }
  html {
    font-size: 14px;
  }

  main {
    width: 70%;
  }

  header {
    padding: 0;
    margin-bottom: 2rem;
  }

  section h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  section form {
    width: 60%;
    justify-content: space-around;
  }

  section form input {
    width: 65%;
  }

  section form button {
    width: 30%;
    font-size: 0.9rem;
  }

  section div {
    width: 50%;
  }

}
/* X large screen */
@media (min-width: 1200px) and (max-width: 1399.98px) {

  body {
    padding: 1rem 10rem;
  }
  html {
    font-size: 14px;
  }

  main {
    width: 70%;
  }

  header {
    padding: 0;
    margin-bottom: 2rem;
  }

  section h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  section form {
    width: 60%;
    justify-content: space-around;
  }

  section form input {
    width: 65%;
  }

  section form button {
    width: 30%;
    font-size: 0.9rem;
  }

  section div {
    width: 50%;
  }

}
/* large screen laptop */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    padding: 1rem 10rem;
  }
  html {
    font-size: 14px;
  }

  main {
    width: 70%;
  }

  header {
    padding: 0;
    margin-bottom: 2rem;
  }

  section h1 {
    font-size: 2rem;
    font-weight: 500;
  }

  section form {
    width: 80%;
    justify-content: space-around;
  }

  section form input {
    width: 60%;
  }

  section form button {
    width: 35%;
    font-size: 0.9rem;
  }

  section div {
    width: 70%;
  }

}
/* mediam screen tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    padding: 3rem 4rem;
  }
}